// COLORS

$primary: #f7941e;
$secondary: #f7941e;
$success: #00ac56;
$warning: #f6ab40;
$info: #26a5dc;
$dark: #192a39;

$navbar-color: white;

$footer-background-color: #1b2b3a;
$footer-color: #ffffff;
$border-radius: 10px;

@import "ember-bootstrap/bootstrap";
@import "mi-guatemala";

@import "ember-power-select-bootstrap";

h1, h2, h3, h4, h5, h6 {
    color: #1b2b3a !important;
    font-weight: 600;
}

p, body {
    color: #495561;
}

// Top banner
.top-banner {
    padding-left: 80px;
    padding-right: 80px;
}

// NAVBAR
.navbar a {
    font-size: 1.2rem;
}

// PERFIL

.table th, .table td {
    border-top: 0px;
}

table tbody td {
    width: 100%;
    border-bottom: 1px solid #495561b8;
}

table tbody strong {
    color: #495561 !important;
}

// TABLA DE GRADACION

#tabla-gradacion {
    font-weight: bold;

    img {
        width: 50px;
        height: auto;
        margin-bottom: auto;
    }

    .row {
        border-bottom: 1px solid #f2f2f2;
        margin-left: 10px;
        margin-right: 10px;
    }
    .col-7, .col-2 {
        padding-top: 20px;
        text-align: center;
    }

    .text {
        padding-top: 10px;
        font-size: 14px;
    }

}


// Resultados
.resultados {
    .text h6 {
        padding-top: 20%;
    }

    .badge {
        margin-top: 25%;
        height: 50%;
        width: 70%;
    }
}

// PANEL

.panel {
    img {
        display: none;
    }
}

@include media-breakpoint-up(md) {
    .panel {
        img {
            display: unset;
        }
    }
}

// Panel

.panel, .nav-candidator {
    background-color: white;
    border-radius: 5px;
}

.panel {
    .header h3{
        font-size: 1.2rem !important;
    }
}

// Otros
.bg-blue {
    background-color: $blue;
}

// Metodología
.list-metodologia li {
    margin-top: 10px;
}

li.active {
    background-color: $primary;

    a {
        color: white !important;
    }
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: $primary;
    text-decoration: none;
}

#tabla-gradacion {
    .text-left {
        margin-top: 12px;
    }
}

.filters {
    label {
        margin-left: 10px;
        margin-right: 10px;
    }
}


.status-banner {
    span {
        color: white !important;
    }
}

#footer {
    h1, h2, h3, h4, h5, h6, strong {
        color: white !important;
    }
}


.colaboradores {
    margin-bottom: 60px;

    h5 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    img {
        max-width: 33%;
        max-height: 70px;
        margin: 10px;
        filter: grayscale(1.0);
    }

    img:hover {
        filter: grayscale(0);
    }
}
