<section id="election">
  <div class="row">
    <div class="col-12">
      <div class="text-right px-5 py-2">
        {{#twitter-share-button title=config.twitterShareLink hashtags='MiGuatemala' via='Redxguate'}}Tweet{{/twitter-share-button}}
        {{#fb-share-button quote=config.twitterShareLink hashtags='MiGuatemala'}}Share{{/fb-share-button}}
      </div>
    </div>
  </div>
  {{outlet}}
</section>
