<div class="container">
    <div class="row my-5 py-5">
        <div class="col-12 text-center px-5">
            <h3 class="mb-5">¿Qué es “ElecciónCGC”?</h3>
            <h5 class="font-weight-light">
                <strong>“ElecciónCGC”</strong> es uno de los proyectos de la iniciativa de <strong>“Elecciones Abiertas”</strong> de <a href="http://redciudadana.org" target="_blank">
                    <strong class="text-primary">Red Ciudadana</strong></a>, que, a través de alianzas, estrategias, y actividades mixtas, busca transparentar los distintos procesos de
                     elección al aplicar principios de máxima publicidad de procesos, rendición de cuentas y participación, para transparentar al proceso de elección de la próxima
                      Contralora o Contralor General de Cuentas en Guatemala (2019- 2023).</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h3 class="mb-5">¿Cómo lo hicimos?</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 col-md-3">
            <img src="img/metodologia-icono-01.png" alt="Comprender" height="150">
            <h5 class="text-primary mt-5">1. Comprender</h5>
            <p>Nos informamos a través de consultas y entrevistas a expertos en el tema, y elaboramos infografías sobre el proceso.</p>
        </div>
        <div class="col-12 col-md-3">
            <img src="img/metodologia-icono-02.png" alt="Fomentar la participación" height="150">
            <h5 class="text-primary mt-5">2. Fomentar la participación</h5>
            <p>Invitamos a los auditores con colegiación activa a votar por quienes los representarían en la Comisión de Postulación!</p>
        </div>
        <div class="col-12 col-md-3">
            <img src="img/metodologia-icono-03.png" alt="Informar" height="150">
            <h5 class="text-primary mt-5">3. Informar</h5>
            <p>Recolección de la información de la comisión de postulación y candidatos, ¡y liberación en formato de datos abiertos!</p>
        </div>
        <div class="col-12 col-md-3">
            <img src="img/metodologia-icono-04.png" alt="Empoderar" height="150">
            <h5 class="text-primary mt-5">4. Empoderar de</h5>
            <p>En colaboración con otras organizaciones de sociedad civil y agrupaciones estudiantes se desarrollaron foros de diálogo y se informó en la misma plataforma cómo la ciudadanía podía apoyar un proceso más transparente.</p>
        </div>
    </div>
</div>
<div class="fluid-container bg-light p-5 mt-4">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h3 class="mb-5">¿Qué permite hacer la plataforma?</h3>
                <p class="text-justify">Con el fin último de acabar con la opacidad que ha caracterizado este proceso en el pasado, desarrollamos una plataforma web que permite a cualquier persona:</p>
            </div>
            <div class="text-left">
                <ul class="list-unstyled list-metodologia">
                    <li>1. Acceder a materiales que <strong>explican</strong> el proceso de <strong>elección de la Contraloría General de Cuentas.</strong></li>
                    <li>2. <strong>Entender</strong> en qué etapa del proceso vamos.</li>
                    <li>3. Llevar a cabo comparaciones entre los miembros de la Comisión de Postulación, así como de los candidatos con la funcionalidad de <strong>“Frente a frente”.</strong></li>
                    <li>4. Consultar en formato de <strong>datos abiertos</strong> la información relevante tanto de los miembros de la Comisión de Postulación, como de los postulantes (CV, expediente, trayectoria, tabla de gradación, etc. en datos abiertos).</li>
                </ul>
            </div>
        </div>
        <div class="col-12 text-center">
            <a href="METODOLOGIA_ELECCION_CGC.pdf" target="_blank">
                <button class="btn btn-primary text-white">Descargar la metodología</button>
            </a>
        </div>
    </div>
</div>
