<div class="container">
  <div class="col-sm-12 col-md-offset-1 col-md-10 buffer-top-30">
    <div class="panel panel-default">
      <div class="panel-heading text-center" style="font-size: 28px;">Centros de votación</div>
      <div class="panel-body tabla-gradacion-content" style="padding-bottom: 0px; padding-top: 0px;">

          <div class="row">

            <div class="col-xs-12 col-sm-4 text-center foto-container">
              <h3>Guatemala, Guatemala</h3>
            </div>

            <div class="col-xs-12 col-sm-8 text-container tabla-gradacion-nombre">
              <p>Salón Coán, 4° nivel del Centro de Convenciones del Grand Tikal Futura Hoter, Calzada Roosevelt 22-43, zona 11.</p>
            </div>

          </div>

          <div class="row">

            <div class="col-xs-12 col-sm-4 text-center foto-container">
              <h3>Quetzaltenango, Quetzaltenango</h3>
            </div>

            <div class="col-xs-12 col-sm-8 text-container tabla-gradacion-nombre">
              <p>Avenida Las América, 9-50, Zona 3, local 5, nivel 3, Centro Comercial Supercom Delco, Quetzaltenango, Quetzaltenango.</p>
            </div>

          </div>

          <div class="row">

            <div class="col-xs-12 col-sm-4 text-center foto-container">
              <h3>Escuintla, Escuintla</h3>
            </div>

            <div class="col-xs-12 col-sm-8 text-container tabla-gradacion-nombre">
              <p>3°. Avenida 7-55, zona 1, 2°. Nivel (A dos cuadras del parque), Antigua Guatemala, Sacatepéquez.</p>
            </div>

          </div>

          <div class="row">

            <div class="col-xs-12 col-sm-4 text-center foto-container">
              <h3>Antigua Guatemala, Sacatepéquez</h3>
            </div>

            <div class="col-xs-12 col-sm-8 text-container tabla-gradacion-nombre">
              <p>2°. Avenida Norte 6b, 2°. Nivel (A dos cuadras del parque), Antigua Guatemala, Sacatepéquez.</p>
            </div>

          </div>

          <div class="row">

            <div class="col-xs-12 col-sm-4 text-center foto-container">
              <h3>Chimaltenango, Chimaltenango</h3>
            </div>

            <div class="col-xs-12 col-sm-8 text-container tabla-gradacion-nombre">
              <p>5°. Avenida 1-24 "A" zona 2, Nivel 2 del Banco Azteca, Chimaltenango, Chimaltenango.</p>
            </div>

          </div>

          <div class="row">

            <div class="col-xs-12 col-sm-4 text-center foto-container">
              <h3>San Marcos, San Marcos</h3>
            </div>

            <div class="col-xs-12 col-sm-8 text-container tabla-gradacion-nombre">
              <p>10°. Avenida 7-01, Zona 3, 3er. Nivel, San Marcos, San Marcos, (A un costado de los semáforos).</p>
            </div>

          </div>

      </div>
    </div>
  </div>
</div>
